{% extends 'base.html' %}
{% block content %}

<h1>Ice Cream Details</h1>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ icecream.name }}</span>
                <p>Brand: {{ icecream.brand }}</p>
                <p>Description {{ icecream.description }}</p>
                <p>Calories: {{ icecream.calories }}</p>
            </div>
        <div class="card-action">
            <a href="{% url 'icecreams_update' icecream.id %}">Edit</a>
            <a href="{% url 'icecreams_delete' icecream.id %}">Delete</a>
        </div>
    </div>
    {% for photo in icecream.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
    <form action="{% url 'add_photo' icecream.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="btn" value="Upload Photo">
  </form>
</div>
<div class="col s6">
  <form action="{% url 'add_eating' icecream.id %}" method="post">
    {% csrf_token %}
    {{ eating_form.as_p }}
    <input type="submit" class="btn" value="Add Eating">
  </form>
  <br>
    {% if icecream.ate_for_today %}
      <div class="card-panel teal-text center-align">{{icecream.name}} has been eaten for all meals for today</div>
    {% else %}
      <div class="card-panel red-text center-align">{{icecream.name}} has not been eaten today</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for eating in icecream.eating_set.all %}
          <tr>
            <td>{{eating.date}}</td>
            <td>{{eating.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
	<div class="col s6">
		<h3> Topping's for {{ icecream.name }}</h3>
    {% if icecream.toppings.count %}
      {% for topping in icecream.toppings.all %}
        <div class="card">
			<div class="card-content">
				<span class="card-title">
					  <span style="color: {{ topping.color }}">{{ topping.color }}</span> {{ topping.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Toppings :(</h5>
    {% endif %}
  </div>

  <div class="col s6">
    <h3>Available Toppings</h3>
    {% if toppings.count %}
      {% for topping in toppings.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
                <span style="color: {{ topping.color }}">{{ topping.color }}</span> {{ topping.name}}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_topping' icecream.id topping.id %}" method="POST">
              {% csrf_token%}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>All toppings are already on {{ icecream.name}}</h5>
    {% endif %}
  </div>

  
<script>
  
  var dateEl = document.getElementById('id_date')
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    })
    // Meal dropdown
    var selectEl = document.getElementById('id_meal')
    M.FormSelect.init(selectEl)
</script>
{% endblock %}